
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');
/*reseteo de valorres*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: "Roboto", sans-serif;
    padding: 10px;
}
/*valores generales*/
h1{
    /*font-family: "Playrite VN", sans-serif;*/
    font-size: 3rem;/*3x16px*/
    color: #419ea1;
    padding-top: 20px;
    margin-bottom: 40px;
    text-align: center;
}
@media screen and (max-width:768px){
    h1{
        font-size: 2rem;
        color: #2b9751;
    }
}
    
}
h2{
    font-size: 2.5rem;/*2.5x16px*/
    color: #2b7397;
    margin-top: 30px;
    margin-bottom: 30px;
    text-align: center;
}
.mayuscula{
    text-transform:uppercase;
}
.negrita{
    font-weight: bold;
}
.thin{
    font-weight: 150;
}
.boton{
        padding: 10px;
        text-decoration: none;
        display: inline-block;
        color: white;
        border: 1px solid white;
        &:hover{
            box-shadow: 4px 2px 31px 8px rgba(169,198,223,0.59);
            border: initial;
            border-radius: 5px;
        }
}
.colorDorado{
    color: #b7bf43;
}
/*Estilos del header*/
header,footer {
    background-color: #bcbf7e;
    padding: 10px;
    ul{
        list-style: none;
        a{
            color: #fff;
            text-decoration: none;
            &:hover{
                text-decoration: underline;
            }

        }
    }
/*estilo para las anclas que estan en el footer pero no estan dentro de un ul*/
        a{
            text-decoration: none;
        };
    h3,i,p{
        color: #5c5d4c;
        
    }
    i{
        font-size: 2rem;
    }
    h3{
        margin-bottom: 10px;
    }
    .fa-whatsapp{
        color: #3dcc57 ;
        font-size: 3rem;
        position: fixed ;
        right: 20px;
        bottom: 20px;
    }
}
header{
    position: sticky ;
    top: 0;
    z-index: 1000;
    display: flex;
   justify-content: space-between;
   align-items: center;
   nav{
    width: 50%;
    ul{
        display: flex;
        justify-content: space-evenly;
        width: 100%;
        /*li{
            margin-right: 20px;
        }*/
       }
   }
 
   
}
@media screen and (max-width:768px) {
    header{
        nav{
            ul{
                flex-direction: column;
                li{
                    margin-bottom: 10px;
                    text-align: right;
                }
            }
        }
    }
}
/*Estilos del main del index*/
.seccionPrincipalIndex{
    height: 75vh;
    padding: 10px;
    background-image: url("../assets/img/fondo_principal_index.jpg");
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
h1{
    font-family: "Roboto", sans-serif;
    color:rgb(255, 255, 255);
    text-align: left;
    font-size: 3.5rem;
}

p{
    color: #ffffff;
    }
  
a{
     margin-top: 30px;
}
}
@media  and (max-width:768px) {
    .seccionPrincipalIndex{
        height:60vh;
    h1{
        font-size: 2rem;
       }
       p{
        color: rgb(16, 16, 16);
       }

     }
}

    .seccionPrincipalIndex{
        height: 50vh;
    }
    .seccionNuestrosProductosIndex{
        margin-bottom: 10px;
        padding: 5px;
        img{
            width: 150px;
        }
    }
    
}
.seccionNuestrosProductosIndex{
    margin-bottom: 20px;
    padding: 10px;
    color: #2b7397;
    text-align: center;
    img{
        width: 235px;
    }
}
.seccionCafePlatosIndex{
    display: flex;
    flex-wrap: wrap;
    column-gap: 20px;
     
    .CafeExpertoIndex, .NuestrosPlatosIndex{
        text-align: left;
        padding: 10px;
        width: 49%;
        height: 350px;
    
        background-image: linear-gradient(to right top, #00000074, #00000074),url("../assets/img/cafe_index.jpg");
        background-position: center;
        background-size: cover;
        backdrop-filter: blur(15px);

        color: white;
        h2{
            color: white;
            text-align: left;
        }
        
    }
    .NuestrosPlatosIndex{
        background-image: linear-gradient(to right top, #00000074, #00000074),url("../assets/img/takeaway_index.jpg");
    }
}
@media screen and (max-width: 768px) {
    .seccionCafePlatosIndex{
        row-gap: 20px;
        .CafeExpertoIndex, .NuestrosPlatosIndex{
        width: 100%;
    }}
    
}
.seccionSucursalesIndex{
    height: 95vh;
    text-align: center;
    margin-top: 20px;
    padding: 10px;
    background-image:linear-gradient(to right top, #00000074, #00000074), url("../assets/img/sucursales.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    color: white;
    /*centrar verticalmente desde el padre*/
    place-content: center; 
    h2{
        color: white;
    }
    p{
        margin-bottom: 30px;
    }
    .colorDorado{
        color: #b7bf43;
        font-size: 3rem;
    } 
}
.seccionClientesIndex{
      padding: 10px;
      text-align: center;
    div{
       display: inline-block;
       margin: 10px auto;
    }
   h2{
       margin-bottom: 20px;
    }
   img{
    width: 100px;
    
}
}
/*estilos pagina nosotrso*/
  .seccionNosotros{
    padding: 10px;
    text-align: center;
    .contenedor{
     display: flex;
     column-gap: 20px;
     flex-wrap: wrap;
     .parrafoNosotros{
        text-align: justify;
        width: 49%;
        line-height: 1.5;
        p{
            margin-bottom: 15px;
        }
  }
  .imagenFondoNosotros{
    display: block;
    background-image: url("../assets/img/nosotros.jpg");
    background-position: center;
    background-size: cover;
    height: 60vh;
    width: 48%; 
        }
      }
    }
    @media screen and ( max-width:768px){
        .seccionNosotros{
            .contenedor{
                row-gap: 20px;
                 flex-direction: column-reverse;
                .parrafoNosotros, .imagenFondoNosotros{
                    width: 100%;
                }
                .imagenFondoNosotros{
                    display: none;
                }
             }
         }
    }
.prepararCafe{
    text-align: center;
    .videoCafe{
        width:600px
        height: 400px;
    }
    @media screen and (max-width:768px){
        iframe{
            width:100%
        }
    }
}

.principalProductos{
    background-color: #2b7397;
    padding-top: 20px;
    padding-bottom: 20px;
    .galeria{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
        <align-items: center ;
        row-gap: 20px;
        .item{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            background-color: #ffffff;
            width: 400px;
            height: 395px;
            img{
                width: 70%;
                object-fit: cover;
            }
            h2{
                font-size: 1rem;
            }
        }
       
    }
}

.ancla:link{
    color: #ccb60a;
}
.ancla:visited{
    color: #419ea1;
}
.ancla:hover{
    color: #4347bf;
}
.ancla:active{
    color: #bcbf7e;
}


/* ESCRITORIO PRIMERO: que cosas quiero ajustar para la version mobile*/
/*MOBILE FIRST:que cosas quiero ajustar para la version escritorio*/
